In [1]:
#importing dependencies 
import csv 
import pandas as pd

In [2]:
# Create file path for loaded csv
citi_bike_file = "201502_Citi_Bike_Data.csv"

In [3]:
#performed pd.read_csv to get data into df 

df_2015_bike_data = pd.read_csv(citi_bike_file)

df_2015_bike_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,801,2/1/2015 0:00,2/1/2015 0:14,521,8 Ave & W 31 St,40.750450,-73.994811,423,W 54 St & 9 Ave,40.765849,-73.986905,17131,Subscriber,1978.0,2
1,379,2/1/2015 0:00,2/1/2015 0:07,497,E 17 St & Broadway,40.737050,-73.990093,504,1 Ave & E 15 St,40.732219,-73.981656,21289,Subscriber,1993.0,1
2,2474,2/1/2015 0:01,2/1/2015 0:42,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,127,Barrow St & Hudson St,40.731724,-74.006744,18903,Subscriber,1969.0,2
3,818,2/1/2015 0:01,2/1/2015 0:15,2004,6 Ave & Broome St,40.724399,-74.004704,505,6 Ave & W 33 St,40.749013,-73.988484,21044,Subscriber,1985.0,2
4,544,2/1/2015 0:01,2/1/2015 0:10,323,Lawrence St & Willoughby St,40.692362,-73.986317,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,19868,Subscriber,1957.0,1

In [4]:
#This is just to ensure the data is clean! So I will just use the csv as is! 
df_2015_bike_data.count()

tripduration               196930
starttime                  196930
stoptime                   196930
start station id           196930
start station name         196930
start station latitude     196930
start station longitude    196930
end station id             196930
end station name           196930
end station latitude       196930
end station longitude      196930
bikeid                     196930
usertype                   196930
birth year                 194663
gender                     196930
dtype: int64